
body{
    padding-top:100px;
    background: rgb(182,190,255);
    background: linear-gradient(208deg, rgba(182,190,255,1) 0%, rgba(228,233,255,1) 50%, rgba(255,255,255,1) 100%); 
}
/*navigation bar */
.nav{
    /*background-color: #ffff;*/
    background: rgb(182,190,255);
background: linear-gradient(252deg, rgba(182,190,255,1) 0%, rgba(228,233,255,1) 50%, rgba(255,255,255,1) 100%); 
height:100px;
}
/* home page hero section*/
.hero{
    min-height: 800px;
    min-width: 1080;
    padding-bottom:5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    background: rgb(182,190,255);
    background: linear-gradient(208deg, rgba(182,190,255,1) 0%, rgba(228,233,255,1) 50%, rgba(255,255,255,1) 100%); 
}
.hero-img{
    min-width:30%;
    padding: 2px;
}
.hero img{
    width:5rem;
}
.hero-text {
    text-align: center;
    align-items: center;
    justify-content: center;

}
.slogan{
    margin-bottom:100px;
    color: rgb(47, 152, 191);
}
.action-button button{
    color:rgb(47, 152, 191);
    border-color: rgb(79,192,233);
}
.action-button button:hover{
    color:#ffff;
    background-color:rgb(79,192,233);
    border-color: rgb(79,192,233);
}

/*about section*/
.about-banner{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
/*background-color:rgb(94, 173, 222);*/
height:190px;
overflow: hidden;
border-bottom:none;
background: rgb(94,173,221);
background: radial-gradient(circle, rgba(94,173,221,1) 0%, rgba(185,193,255,1) 95%); 
}
.about-banner img{
    width:500px;
}
.about-banner p{
    text-align: center;
    font-size: large;
    color: #ffff;
    font-family:cursive;
}
.about-image img{
    width: 50px;
}
.about{
display: flex;
flex-direction:column;
justify-content: space-evenly;
align-items: center;
border-top:none;
border-radius:0% !important;
padding:50px;
margin-bottom: 0px !important;
margin-left: 30px;
margin-right: 30px;

}
.about h2{
    text-align: center;
}

.qualifications{
    display: flex;
    flex-direction: row;
    
}

.certification{
    margin:5px;
}

.certification-title{
    background-color: rgb(255, 235, 235);
}
 /* services section */ 

.services h1{
text-align: center;
}
.small-cards{
display: flex;

}
.small-card{
 margin-left:20px;
 margin-right:20px;
 padding:3px;
 height:fit-content;
}

.service1{
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   opacity: 1;
/*background-color:rgba(179, 220, 224, 0.5);*/
}
.text-block{
    height: fit-content;
    width: fit-content;
    margin:0px;
    color:white;
    background-color: rgba(0, 0, 0, 0.5);
    padding:220px 520px;
}

.service-image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service1-image{
     background-image:url(images/thisisengineering-raeng-df7erzy97sg-unsplash.jpg);
}
.service2-image{
    background-image:url(images/martin-splitt-8ByBvAXwFEc-unsplash.jpg);
}
.service3-image{
    background-image:url(images/thisisengineering-raeng-df7erzy97sg-unsplash.jpg);
}
.service2{
   /* background-color:rgb(251, 253, 223);*/
}
.service3{
   /* background-color:rgba(201, 206, 255, 9);*/
}


/*blog section*/
.blogbody{
    background-color: #ffff;
    height: 1920px;
    margin:1.5rem;
    padding:1px;
    
}
.blogbody h1{
    border-style: solid;
    text-align: center;
    margin-left: 3rem;
    margin-right: 3rem;
}
.blogbody h3{
    text-align: center;
}
.blogbanner{
   margin-bottom:1rem;
   height:200px; 
   background-image: url(images/martin-splitt-8ByBvAXwFEc-unsplash.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-position-y:-700px;
}

/*footer section*/
footer{
    color:rgb(47, 152, 191);
    padding:1rem;
    background-color: rgb(0, 87, 111);
    margin-top: 0px;
    overflow: hidden;
}
footer img{
    width:10rem;
}
.footer-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
}
.socials a{
    color:rgb(47, 152, 191);
    font-size:30px;
}
.socials a:hover{
    color:rgb(121, 218, 254);
    font-size:33px;
}
.social-links{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.footer-section{
    padding:8px;
}

@media (max-width: 800px) {
    .footer-body{
     flex-direction: column;
    }
    .hero{
        flex-direction: column;
    }
    .social-links{
        flex-direction: row;
    }
    .about-banner p{
        display:none;
    }
    .qualifications{
        flex-direction: column;
    }
  }
